<?xml version="1.0" ?>
<launch>

<include file="$(find cassie_interface)/launch/cassie_world.launch"/>

<rosparam>
    use_sim_time: true
    cassie:
        is_simulation: true
        dt: 0.0005
        log_estimation: true
        log_controller: true
        interface:
            use_ekf: true
            safe_torque_limit: '[90, 60, 90, 200, 40, 90, 60, 90, 200, 40]'
            heelspring_solver:
                zero_springs_on_startup: false
                num_zeroing_samples: 2000
            contact_classifier:
                use_sigmoid: false
                sigmoid_A: 0.30
                sigmoid_B: 30
                sigmoid_power: 1
                linear_lb: 60
                linear_ub: 110
                lowpass_dt_cutoff: 0.005
            kinematics_velocity:
                lowpass_vx_dt_cutoff: 0.06
                lowpass_vy_dt_cutoff: 0.06
                lowpass_vz_dt_cutoff: 0.06
            contact_ekf:
                apply_post_filter: false
                post_filter_dt_cutoff_x: 0.03
                post_filter_dt_cutoff_y: 0.03
                post_filter_dt_cutoff_z: 0.03
                gyro_noise_std: 0.000065
                gyro_bias_noise_std: 0.001
                accel_noise_std: 0.0075
                accel_bias_noise_std: 0.005
                contact_noise_std: 0.0001
                encoder_noise_std: 0.000175
                contact_std: 0.001
                contact_yaw_std: 0.001
                prior_base_rotation_std: 0.000001
                prior_base_position_std: 0.0001
                prior_base_velocity_std: 0.001
                prior_contact_position_std: 0.0025
                prior_gyro_bias_std: 0.00001
                prior_accel_bias_std: 0.0001
                prior_forward_kinematics_std: 0.003
                prior_contact_yaw_std: 0.03
        locomotion_control:
            dt: 0.001
            standing:
                use_qp: true
                use_lateral_comp: true
                Kp_lateral_compensator: 3.0
                Kd_lateral_compensator: 0.04
                kp: '[200., 100., 300., 400., 50.]'
                kd: '[5., 2., 6., 8., 2.]'
                pose_command:
                    x_com_offset: -0.01
                    x_lowpass_dt_cutoff: 0.75
                    height_lowpass_dt_cutoff: 1.5
                    pitch_lowpass_dt_cutoff: 2.0
                    lateral_lowpass_dt_cutoff: 2.0
                    height_lb: -0.90
                    height_ub: -0.40
                    lateral_lb: -0.75
                    lateral_ub: 0.75
                    pitch_lb: 0
                    pitch_ub: 0
                inverse_kinematics:
                    ik_xtol: 0.00000001
                    ik_iter_limit: 10
                qp:
                    clf_use_Vdot_cost: true
                    clf_use_inequality: true
                    clf_use_task_pd: false
                    clf_gam: 0.0012
                    res_clf_ep: 0.12
                    Pdiag: '[1245.425,1245.425,270.6392,99.5274,99.5274,50.9902,13.9243,13.9243,8.5584,6.2947,6.2947,5.099]'
                    Poffdiag: '[89.4427,89.4427,31.6228,15.8114,15.8114,10]'
                    kp: '[600, 500, 200, 400, 200, 100]'
                    kd: '[18, 15, 8, 10, 4, 4]'
                    nQPIter: 30
                    reg_ddq: 0.08
                    reg_u: 1.8
                    reg_achilles: 0.0001
                    reg_rigid: 0.001
                    reg_fx: 0.0625
                    reg_fy: 0.00001
                    reg_fz: 0.0001
                    reg_muy: 0.01
                    reg_muz: 0.20
                    reg_clf_delta: 0.15
                    w_u_chatter: 0.006
                    w_outputs: 1
                    w_hol_achilles: 8
                    w_hol_fixed: 8
                    w_hol_fx: 15
                    w_hol_fy: 15
                    w_hol_fz: 15
                    w_hol_my: 6
                    w_hol_mz: 6
                    w_Vdot: 3.2
            stepping:
                use_qp: true
                nDomain: 2
                time_scale: 1.0
                vx_offset: 0.00
                vy_offset: 0.00
                swing_foot_offset: -0.05
                leg_angle_offset_center: -0.03
                force_z_scale: 1
                force_sp_scale: 1
                left_stance_gravity_scale: 1
                right_stance_gravity_scale: 1
                u_stancetoe_offset: 0
                stoppable_velocity_threshold: 0.2
                use_contact_switching: false
                velocity_integrator_bleed_constant: 0.99999
                kp: '[1600, 1000, 600, 600, 600, 600, 600, 600, 30]'
                kd: '[25, 20, 10, 14, 14, 8, 8, 10, 2]'
                gaitlib: 'package://cassie_controllers/gaits/20200927.yaml'
                vdx_ub: 1
                vdx_lb: -0.40
                vdy_ub: 0.3
                vdy_lb: -0.3
                acceleration_regulation:
                    ddq_KpX: 2
                    ddq_KdX: 3
                    ddq_KiX: 0
                    ddq_KpY: 2
                    ddq_KdY: 3
                    ddq_KiY: 0
                force_regulation:
                    Kp_grf_leglength: 1400
                    Kd_grf_leglength: 60
                    k_grf_offset: 0
                    k1_grf: 0.01
                    k2_grf: 0.10
                    k3_grf: 0.005
                    k4_grf: 0.08
                raibert:
                    swing_angle_absolute: false
                    KpX: 0.09
                    KdX: 0.18
                    KiX: 0.04
                    KpY: 0.085
                    KdY: 0.18
                    KiY: 0.0
                qp:
                    clf_use_Vdot_cost: true
                    clf_use_inequality: false
                    clf_use_task_pd: false
                    clf_gam: 0.0172
                    res_clf_ep: 0.1
                    Pdiag: '[6602.9826,5497.1921,4665.9713,5079.37,7030.2569,3151.909,3087.2439,2545.5844,3174.2917,29.5294,26.3158,30.1187,50.7937,45.3801,19.3014,17.8242,16.9706,20.49]'
                    Poffdiag: '[268.3282,229.7825,232.379,300,309.8387,146.9694,138.5641,120,154.9193]'
                    kp: '[3000, 2500, 2500, 2000, 2500, 1600, 2000, 2500, 1500]'
                    kd: '[35, 30, 20, 25, 40, 14, 20, 20, 16]'
                    nQPIter: 50
                    reg_base_ddq: '[0.001, 0.001, 0.001, 0.001, 0.001, 0.001]'
                    reg_stance_ddq: '[0.001, 0.001, 0.001, 0.001, 0.6, 0.001, 0.6, 0.001]'
                    reg_swing_ddq: '[0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001]'
                    reg_stance_u: '[0.01, 0.01, 0.01, 0.01, 0.01]'
                    reg_swing_u: '[0.01, 0.01, 0.01, 0.01, 0.01]'
                    reg_fx: 1
                    reg_fy: 1
                    reg_fz: 2
                    reg_muy: 1
                    reg_muz: 1
                    reg_rigid: 1
                    reg_clf_delta: 1
                    w_outputs: 1.4
                    w_hol_fx: 1
                    w_hol_fy: 1
                    w_hol_fz: 1
                    w_hol_my: 1
                    w_hol_mz: 1
                    w_hol_fixed: 1
                    w_Vdot: 1.4
</rosparam>

<node name="cassie_interface_node" pkg="cassie_interface" type="cassie_interface_node" args="" respawn="false" />

</launch>
